body {
  margin: 0;
  font-family: "Georgia", serif;
  background: linear-gradient(135deg, #7b2ff7, #f107a3, #00d2ff);
  color: #fff;
}

header,
footer,
.card {
  background: rgba(
    0,
    0,
    0,
    0.4
  ); /* Fondo semi-transparente para que el texto se lea */
  padding: 1rem;
  border-radius: 8px;
  margin: 0.5rem;
}

.group-btn {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 1px solid #fff;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.group-btn.active {
  background: #fff;
  color: #7b2ff7; /* Morado del degradado para destacar */
}

.accordion-content {
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 5px;
}

.profe-card {
  background: rgba(255, 255, 255, 0.2);
  padding: 0.25rem;
  border-radius: 5px;
  margin: 0.25rem;
  text-align: center;
}
